.sidebar{
  background: bisque !important;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  .bar{
    flex: 1;
    margin-bottom: 10px;
    .bar-content{
      position: relative;
      height: 40vh;
    }
  }
}
.bar .ant-form-item{
  margin-bottom: 5px !important;
}